
<!-- sidebar.component.html -->
<div class="sidebar">
    <div class="sidebar-content">
      <div class="menu-items">
        <div *ngFor="let menuItem of menuItems" class="menu-item">
          <div 
            [class.active]="activeMenuItem === menuItem.id"
            [class.expanded]="menuItem.expanded"
            class="menu-header" 
            (click)="toggleExpand(menuItem)"
          >
            <i class="fa" [ngClass]="menuItem.icon"></i>
            <span>{{ menuItem.label }}</span>
            <i *ngIf="menuItem.children" class="fa fa-chevron-down expand-icon"></i>
          </div>
          
          <div *ngIf="menuItem.children && menuItem.expanded" class="submenu">
            <div 
              *ngFor="let child of menuItem.children" 
              [class.active]="activeMenuItem === child.id"
              class="submenu-item"
              (click)="setActive(child.id)"
            >
              <i class="fa" [ngClass]="child.icon"></i>
              <span>{{ child.label }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="sidebar-footer">
      <button class="sidebar-btn schedule-btn" (click)="scheduleReport()">
        <i class="fa fa-calendar"></i>
        Schedule Report
      </button>
      <button class="sidebar-btn pending-btn" (click)="pendingRequest()">
        <i class="fa fa-clock"></i>
        Pending Request
      </button>
      <button class="sidebar-btn logout-btn" (click)="logout()">
        <i class="fa fa-sign-out-alt"></i>
        Logout
      </button>
    </div>
  </div>

