/* print-report.component.css */
.print-report-container {
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    align-items: center; /* Center horizontally */
    background: rgb(246, 246, 246);
    padding: 20px;
    font-family: sans-serif; /* Use a clean font */
  }
  
  h2 {
    margin-bottom: 20px;
    
  }
  h3{
    text-align: center;
    margin-top: 20px;
  }

  .preview-container{
    background: white;
    border-radius: 12px;
    padding:  5px 20px 20px 20px;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  }
  .form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for form elements */
    gap: 20px;
    margin-bottom: 20px;
    background: white;
    border-radius: 12px;
    padding:  20px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  }
  
  .form-group {
    display: flex;
    flex-direction: column; /* Labels on top of inputs */
  }
  
  label {
    margin-bottom: 5px;
    
  }
  
  select,
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    
    width: 300px;
  }
  
  .radio-group {
    display: flex;
    gap: 10px;
  }
  
  .preview-container {
    width: 100%;
    margin-bottom: 20px;
    overflow-x: auto; /* Add horizontal scrollbar if needed */
  }
  

/* Table styles */
.table-container {
    overflow-x: auto;
  }
  
  table {
    width: 96%;
    border-collapse: collapse;
    margin: 20px 20px 20px 20px;
  }
  
  table th,table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  
  table th {
    background-color: #17a2b8;
    color: white;
    position: sticky;
    top: 0;
  }
  
  table tr:nth-child(even) td:nth-child(odd) {
    background-color: #17a3b85a;
  }
  
  table tr:nth-child(odd) td:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tr:nth-child(even) td:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tr:nth-child(odd) td:nth-child(odd) {
    background-color: #17a3b85a;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:first-child { /* Style for the Cancel button */
    
    background-color: #ffffff;
    color: 333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
  }
  
  button:last-child { /* Style for the Generate Report button */
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    font-size: 16px;
  }
 
  
  button:last-child :hover {
    background-color: #138496;
  }