

      <div class="main-content">

        <div class="container">

          <div class="button-group">
            <button [routerLink]="['/markethead/bo-customersupport/social-connect']" routerLinkActive="active"> social-connect </button>
            <button [routerLink]="['/businessowner/bo-customersupport/chatbot']" routerLinkActive="active"> chatbot </button>
            <button [routerLink]="['/businessowner/bo-customersupport/app-bochatpanel']" routerLinkActive="active"> Messaging-app </button>
          </div>
    
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>    
  

