<div class="top-selling-container">
  <h4>Top Sellings</h4>

  <!-- Input to let user select number of top products -->
  <label for="limitInput">Number of Products:</label>
  <input id="limitInput" type="number" [(ngModel)]="productLimit" min="1" />
  <button (click)="loadTopSellingProducts()">Load</button>

  <ul class="product-list">
    <li *ngFor="let product of topSellingProducts; let i = index" 
        [ngStyle]="{
          'background-color': getProductBackgroundColor(i), 
          'color': getTextColor(getProductBackgroundColor(i))
        }">
      {{ product.name }}
    </li>
  </ul>
</div>
