

h2{
    font-weight: 500;
    font-size: 30px;
    margin: 0;
  color: #333;
    text-align: left;
    padding: 15px 20px;
  border-bottom: 1px solid #eee;
}

.summary_box{
    height: 300px;
    margin-top: 10px;
    width: 700px;
    background: white;
    border-radius: 12px;
    padding:  1px 10px 10px 10px;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display: block;
}
