

h2{
    font-weight: 400;
    font-size: 30px;
}

.summary_box{
    height: 250px;
    margin-top: 10px;
    width: 500px;
    background: white;
    border-radius: 12px;
    padding:  1px 10px 10px 10px;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display: block;
}
