h1{
    color: rgb(75, 74, 74);
    font-size: 20px;
    font-weight: 400;
}

.box{
    height: 250px;
    place-items: center;
    margin-top: 20px;
    display: block;
    background: white;
    border-radius: 12px;
    padding:  10px 10px 10px 20px;
    width: 200px;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.05);
}

img{
    border: 5px #05BBC9 solid;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
    margin-right: 20px;
    width: 150px;
    height: 150px;
}

h2{
    margin-top: 5px;
    margin-left: 40px;
    color: #083A50;
    font-size: 15px;
    margin-bottom: 0px;
}

p{
    margin-top: 0px;
    padding-top: 0px;
    color: #A2AEB4;
    font-size: 15px;
    font-weight: 400;
}