<div class="contact-links">
    <div class="item">
        <a href="https://wa.me/947618722728" target="_blank"><img src="../../assets/images/wa.jpg"/></a>
        <label>whatsApp</label>
    </div>

    <div class="item">
        <a href="mailto:hamsakumar1010@email.com"><img src="../../assets/images/gm.jpg"/></a>
        <label>Gmail</label>
    </div>

    <div class="item">   
        <a href="https://outlook.live.com/" target="_blank"><img src="../../assets/images/hm.png"/></a>
        <label>Hotmail</label>
    </div>
</div>
