<div class="container">
  <h1>Purchase details</h1>

  <div class="form">
    <div class="dropdown">
      <button class="dropbtn">ProductId</button>
      <div class="dropdown-content">
        <a (click)="selectProduct('P001')">P001</a>
        <a (click)="selectProduct('P002')">P002</a>
        <a (click)="selectProduct('P009')">P003</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Year</button>
      <div class="dropdown-content">
        <a (click)="selectYear(2025)">2025</a>
        <a (click)="selectYear(2024)">2024</a>
        <a (click)="selectYear(2023)">2023</a>
      </div>
    </div>
  </div>

  <div class="table">
    <ag-charts [options]="options"></ag-charts>
  </div>
</div>
