<div class="audit_status">
    <h2>Concurrent Audit</h2>
    <div class="viewaudit">
        <div class="subtitle">
            <h4>Status trackers</h4>
            <div class="dropdown">
                <button class="dropbtn">FY 2024-2025</button>
                <div class="dropdown-content">
                  <a href="#">FY 2023-2024</a>
                  <a href="#">FY 2022-2023</a>
                  <a href="#">FY 2021-2022</a>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="stats-card">
                <h6>January 2025</h6>
                <p>Last available report <span>24 Dec 22024</span></p>
                <button>View Dashboard</button>
            </div>
            <div class="stats-card">
                <h6>January 2025</h6>
                <p>Last available report <span>24 Dec 22024</span></p>
                <button>View Dashboard</button>
            </div>
            <div class="stats-card">
                <h6>January 2025</h6>
                <p>Last available report <span>24 Dec 22024</span></p>
                <button>View Dashboard</button>
            </div>
        </div>
    </div>    
</div>