<div class="audit_status">
    <h2>Concurrent Audit</h2>
    <div class="viewaudit">
      <div class="subtitle">
        <h4>Status trackers</h4>
        <div class="dropdown">
          <button class="dropbtn">{{ selectedFY }}</button>
          <div class="dropdown-content">
            <a *ngFor="let fy of fiscalYears" (click)="selectFY(fy)">
              {{ fy }}
            </a>
          </div>
        </div>
      </div>
  
      <div class="cards">
        <div class="stats-card" *ngFor="let card of statusCards">
          <h6>{{ card.month }} {{ card.year }}</h6>
          <p>Last available report <span>--</span></p>
          <button [routerLink]="['/auditpage/audit']" [queryParams]="{year:card.year,month: card.month}">View Dashboard</button>
        </div>
      </div>
    </div>
  </div>
  