/* dashboard.component.scss */
.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .dashboard-content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
.up{
    margin-top: 40px;
    margin-left: 250px;
}

.content{
    margin-top: 40px;
    margin-left: 250px;
    display: flex;
    margin-bottom: 40px;
}

app-pastaudit{
    margin-left: 20px;
    margin-top: 80px;
}