<div class="dashboard-container">
    <!-- Header component -->
    <app-header></app-header>
  
    <div class="dashboard-content">
      <!-- Sidebar component -->
      <app-sidebar></app-sidebar>
  
        <div class="main-content">
  
            <div class="up">
                <app-auditstatustracker></app-auditstatustracker>
            </div>
            
            <div class="content">
                <app-auditsummary></app-auditsummary>
                <app-pastaudit></app-pastaudit>
            </div>
        </div>    
    </div>
    <app-footer></app-footer>
  </div>
  
  