<div class="container">
    <h1>Customer Summary</h1>
    <div class="content">
        <div class="list">
            <div class="color">
                <div class="box1">
    
                </div>
                <p>Active customer-{{cusdetail?.aCount}}</p>
            </div>
            <div class="color">
                <div class="box2">
    
                </div>
                <p>In-Active customer-{{cusdetail?.iaCount}}</p>
            </div>
        </div>
        <div class="table" *ngIf="options">
            <ag-charts
            [options]="options"
            ></ag-charts>
        </div>
    </div>
</div>
    