.container{
    display: block;
    background: white;
    border-radius: 12px;
    padding:  20px 20px 20px 20px;
    align-items: center;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.05);
    margin-top: 20px;
    width: 700px;
    height: 300px;
    margin-left: 150px;
}

.content{
    display: flex;
}

h1{
    font-size: 20px;
    font-weight: 400;
}

.list{
    margin-top: 5px;
    margin-left: 30px;
    display: block;
    gap: 20px;
}

.color{
    display: flex;
}

.box1{
    margin-top: 20px;
    background-color: #F9F06A;
    width: 20px;
    height: 20px;
}

.box2{
    margin-top: 20px;
    background-color: #FF4B4B;
    width: 20px;
    height: 20px;
}

.color p{
    margin-top: 20px;
    margin-left: 20px;
}

.table{
    margin-top: -60px;
    padding-left: 100px;
}

