<div class="box">
    <p>Choose productID to get Up-to-date</p>
    <div class="container">
        <div class="dropdown">
            <button class="dropbtn">{{ selectedProductId || 'ProductID' }}</button>
            <div class="dropdown-content">
                <a *ngFor="let id of productIds" (click)="selectProduct(id)">{{ id }}</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn2">{{ pur?.productName || 'Product-Name' }}</button>
        </div>
    </div>
    <div class="content">
        <div  class="value">
            <h2>Average phurchase value</h2>
            <h3>{{pur?.value}}</h3>
        </div>
        <div  class="rate">
            <h2>Phurchase rate</h2>
            <h3>{{ purchaseRate | number:'1.2-2' }}%</h3>
        </div>
    </div>
</div>