

      <div class="main-content">

        <div class="container">

          <div class="button-group">
            <button [routerLink]="['/inventoryManager/app-imcustomersupport/social-connect']" routerLinkActive="active"> social-connect </button>
            <button [routerLink]="['/inventoryManager/app-imcustomersupport/chatbot']" routerLinkActive="active"> chatbot </button>
            <button [routerLink]="['/inventoryManager/app-imcustomersupport/app-imchatpanel']" routerLinkActive="active"> Messaging-app </button>
          </div>
    
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>    
  

