
<div class="dashboard-container">
    <!-- Header component -->
    <app-header></app-header>
  
    <div class="dashboard-content">
      <!-- Sidebar component -->
      <app-business-owner-sidebar></app-business-owner-sidebar>
  
        <div class="main-content">
            
            <router-outlet></router-outlet>
            <button class="support-btn" [routerLink]="['/businessowner/customersupport/Messaging-app']" routerLinkActive="active">
                <mat-icon>support_agent</mat-icon>
            </button>
          
        </div>    
    </div>
</div>
<app-footer></app-footer>