<div class="container">
<h1>Purchase details</h1>
<div class="form">
    <div class="dropdown">
        <button class="dropbtn">Select</button>
        <div class="dropdown-content">
          <a href="#">Location</a>
          <a href="#">Gender</a>
          <a href="#">Occupation</a>
        </div>
    </div>
    <div class="datepicker">
        
        <form>
            <input type="date" id="birthday" name=>
        </form>

        <form>
            <input type="date" id="birthday" name="birthday">
        </form>
        
    </div>
    
</div>
<div class="table">
    <ag-charts
        [options]="options"
    ></ag-charts>
</div>
</div>
