<div class="dashboard-container">
  <!-- Header component -->
  <app-header></app-header>

  <div class="dashboard-content">
    <!-- Sidebar component -->
    <app-sidebar></app-sidebar>

      <div class="main-content">

        <div class="container">

          <div class="button-group">
            <button [routerLink]="['/customerinsight/demographic']" routerLinkActive="active">Demographic</button>
            <button [routerLink]="['/customerinsight/purchase-behavior']" routerLinkActive="active">Phurchase behaviour</button>
            <button [routerLink]="['/customerinsight/retention-analysis']" routerLinkActive="active">Retention Analysis</button>
          </div>
    
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>    
  </div>
  <app-footer></app-footer>
</div>

