<div class="inventory-container">
  <div class="inventory-update">
    <div class="inventory-left-content">
    <h2>Manage Your Customer</h2>
    <p>The Customer Insight page provides a deep understanding of our audience through demographic profiles, purchase behavior trends, and retention analysis to drive smarter business decisions.</p>
  </div>
  <div class="inventory-right">
    <img src="assets/customer.jpg" alt="Inventory Illustration" class="inventory-image" />
  </div>
</div>


<div class="main-content">
  <div class="container">
    <div class="button-group">
      <button [routerLink]="[basePath + '/demographic']" routerLinkActive="active">Demographic</button>
      <button [routerLink]="[basePath + '/purchase-behavior']" routerLinkActive="active">Purchase Behaviour</button>
      <button [routerLink]="[basePath + '/retention-analysis']" routerLinkActive="active">Retention Analysis</button>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
