.inventory-container{
  max-width: 1400px; 
  margin: 0 auto 30px auto;
  border-radius: 16px;
  background: #fff;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 2px 12px 0 #7ECBD133;
}

.inventory-update {
  display: flex;
  border: 2px solid #27bcc7;
  border-radius: 16px;
  background: #fff;
  min-height: 400px;
  margin-bottom: 30px;
  box-shadow: 0 2px 12px 0 #7ECBD133;
  overflow: hidden;
}

.inventory-left-content {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 30px 40px 50px;
  background: #f7fafd;
}

.inventory-left-content h2 {
  font-size: 2rem;
  color: #27bcc7;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.inventory-left-content p {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 2rem;
}

.go-update-btn {
  background: #27bcc7;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.9rem 2.2rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(39, 188, 199, 0.08);
}
.go-update-btn:hover {
  background: #20979f;
}

.inventory-right {
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e3f2fd;
  min-height: 350px;
}

.inventory-image {
  max-width: 100%;
  max-height: 320px;
  border-radius: 12px;
  box-shadow: 0 4px 24px 0 #7ECBD133;
  object-fit: contain;
}

@media (max-width: 900px) {
  .inventory-update {
    flex-direction: column;
    padding: 0;
  }
  .inventory-left-content, .inventory-right {
    padding: 30px 10px;
    min-height: unset;
  }
  .inventory-right {
    justify-content: flex-start;
  }
}


/* dashboard.component.scss */
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f9f9;
}

.dashboard-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  
}

.container {
    place-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
  padding-left: 20px;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.712);
  }
  
  .button-group {
    gap: 40px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 50px;
    display: flex;
  }
  
  button {
    width: 300px;
    height: 150px;
    background-color: #D9D9D9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #05BBC9;
  }
  
  button.active {
    background-image: linear-gradient(to right, #05BBC9, #3CABFF);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  
  .content {
    padding: 20px;
    border-radius: 4px;
  }