<div class="container">
  <h1>Customer summary details</h1>
  <div class="form">

    <div class="datepicker">
      <form>
        <label>From:</label>
        <input type="date" name="fromDate" [(ngModel)]="fromDate" (ngModelChange)="getRecords(fromDate, toDate)" />

        <label>To:</label>
        <input type="date" name="toDate" [(ngModel)]="toDate" (ngModelChange)="getRecords(fromDate, toDate)" />
      </form>
    </div>

  </div>
  <div class="table">
    <div class="table-container">
      <table class="tax-table">
        <thead>
          <tr>
            <th>customer_id</th>
            <th>Name</th>
            <th>Value</th>
            <th>Tax</th>
            <th>Net value</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of tableRecords">
            <td>{{ record.customer_id }}</td>
            <td>{{ record.name }}</td>
            <td>{{ record.active_date }}</td>
            <td>{{ record.estimate_date }}</td>
            <td>{{ record.location }}</td>
            <td>{{ record.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="button-container">
    <button class="print-button" (click)="printReport()">
      Print Report <i class="print-icon"></i>
    </button>
  </div>
</div>