<nav class="sidebar">
    <!-- <div class="logo-container">
      <img src="assets/instadash-logo.png" alt="InstaDash" class="logo">
      <span class="logo-text">InstaDash</span>
    </div> -->
  
    <div class="nav-section">
      <h3 class="nav-section-title">Reports And Analysis</h3>
      <ul class="nav-items">
        <li><a routerLink="/sales" routerLinkActive="active">
          <i class="fas fa-chart-line"></i>Sales
        </a></li>
        <li><a routerLink="/orders" routerLinkActive="active">
          <i class="fas fa-shopping-cart"></i>Orders
        </a></li>
        <li><a routerLink="/shipping" routerLinkActive="active">
          <i class="fas fa-truck"></i>Shipping
        </a></li>
        <li><a routerLink="/products" routerLinkActive="active">
          <i class="fas fa-box"></i>Products
        </a></li>
        <li><a routerLink="/courier" routerLinkActive="active">
          <i class="fas fa-truck-loading"></i>Courier
        </a></li>
        <li><a routerLink="/finance" routerLinkActive="active">
          <i class="fas fa-dollar-sign"></i>Finance
        </a></li>
        <li><a routerLink="/customer-insights" routerLinkActive="active">
          <i class="fas fa-users"></i>Customer Insights
        </a></li>
        <li><a routerLink="/marketing-analytics" routerLinkActive="active">
          <i class="fas fa-bullhorn"></i>Marketing Analytics
        </a></li>
      </ul>
    </div>
  </nav>
  