<div class="summary">
    <h2>Tax and Fees Summary</h2>
    <div class="datepicker">
        
        <form>
            <label>from:  </label>
            <input type="date" id="fromdate" name="fromdate" [(ngModel)]="fromDate" (ngModelChange)="fetchChartData()">
        </form>

        <form>
            <label>To:  </label>
            <input type="date" id="Todate" name="Todate" [(ngModel)]="toDate" (ngModelChange)="fetchChartData()">
        </form>
        
    </div>

    <div class="chart">
            <ag-charts [options]="option1"></ag-charts>
            <ag-charts [options]="option2"></ag-charts>
            <ag-charts [options]="option3"></ag-charts>
        
    </div>
    <div class="para">
        <p>Total Phurchase</p>
        <p>Total Tax</p>
        <p>Net Value </p>
    </div>

</div>
