<div class="receiver-buttons">
  <button 
    *ngFor="let person of receivers" 
    class="circle-button"
    [class.active]="receiver === person.name"
    (click)="setReceiver(person.name)"
    [disabled]="receiver === person.name"
    >
          <img [src]="person.image" [alt]="person.name" />
  </button>  
</div>
 
 <div class="chat-container">
      <div class="chat-header">
        <h2>{{ receiver }}</h2>
      </div>
      
      <div class="chat-messages" #messagesContainer> <!-- add scroll to new message -->
        <div 
          *ngFor="let message of messages" 
          class="message-wrapper"
          [ngClass]="{'sent': message.sender === sender, 'received': message.sender !== sender}">
          <div class="message-bubble" [ngClass]="{'completed': message.isCompleted}">
            <div class="avatar">
              <div class="avatar-circle">
                <img 
                  [src]="getPersonImage(message.sender)" 
                  [alt]="message.sender" 
                  class="avatar-image"
                />              
              </div>
              <div *ngIf="message.isCompleted" class="check-mark">✓</div>
            </div>
            <div class="messagedisplay">
              <div class="message-content">
              {{ message.text }}
            </div>
            <div class="message-timestamp">
            {{ message.timestamp | date:'short' }}
            </div>
            </div>
            
          </div>
        </div>
      </div>
      
      <div class="chat-input">
        <div class="input-wrapper">
          <input 
            type="text" 
            placeholder="Type a message..." 
            [(ngModel)]="currentMessage"
            (keyup.enter)="sendMessage()"
            class="message-input"
          >
          <button (click)="sendMessage()" class="send-button">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 21L23 12L2 3V10L17 12L2 14V21Z" fill="currentColor"/>
            </svg>
          </button>
        </div>
      </div>
    </div>