.content{
    margin-left: 30px;
    display: flex;
}

app-buyer{
    margin-top: 75px;
}

app-product{
    margin-left: 35px;
}

app-purchasedetails{
    margin-top: 20px;
}

.table{
    margin-top: 20px;
    margin-left: 30px;
}