<div class="members-card">
    <div class="header">
      <h2 class="card-title">Members</h2>
      <a href="#" class="view-all">View all</a>
    </div>
  
    <div class="members-list">
      <div class="member-item" *ngFor="let member of members">
        <div class="member-avatar">
          <img [src]="member.avatar" alt="{{ member.name }}">
        </div>
        <div class="member-info">
          <div class="member-name">{{ member.name }}</div>
          <div class="member-access">{{ member.accessType }}</div>
        </div>
      </div>
    </div>
  
    <button class="add-member-btn">Add Member</button>
  </div>