<div class="finance-flow">
  <div class="finance-header">
    <h3>Finance Flow</h3>
    <div class="finance-info">
      <!-- <div class="amount">Net: Rs.{{ amount | number: '1.2-2' }}</div> -->
      <!-- <div class="income">Income: Rs.{{ totalIncome | number: '1.2-2' }}</div> -->
      <div class="month">{{ month }}</div>
    </div>
    
  </div>

  <div style="display: block; width: 100%;">
    <canvas baseChart
      [data]="{ labels: barChartLabels, datasets: barChartData }"
      [options]="barChartOptions"
      [type]="'bar'">
    </canvas>
  </div>

  <!-- Color Legend -->
  <!-- <div class="legend">
    <div class="legend-item">
      <span class="legend-color income"></span> Income
    </div>
    <div class="legend-item">
      <span class="legend-color expense"></span> Expense
    </div>
  </div> -->
</div>
