<div class="main-content">
  <div class="container">
    <div class="button-group">
      <button [routerLink]="[basePath + '/social-connect']" routerLinkActive="active">Social Connect</button>
      <button [routerLink]="[basePath + '/chatbot']" routerLinkActive="active">Chatbot</button>
      <button [routerLink]="[basePath + '/Messaging-app']" routerLinkActive="active">Messaging App</button>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
